/* /Pages/Index.razor.rz.scp.css */



#garden-layout-container[b-5hdspjmrj0] {
    float: left;
    overflow: visible;
    width: 545px
}

@media (min-width: 992px) {
    #garden-layout-container[b-5hdspjmrj0] {
        width: 735px
    }
}


#garden-plan[b-5hdspjmrj0] {
    display: flex
}

.vertical-ruler[b-5hdspjmrj0] {
    margin-right: -11px;
    margin-top: 21px
}

.label-no-0[b-5hdspjmrj0] {
    font-size: 11px
}

.hasSVG svg:nth-child(1)[b-5hdspjmrj0] {
    padding-bottom: 5px
}

/*.hasSVG svg:nth-child(2) {
    margin-top: -5px
}
*/

svg .selectable[b-5hdspjmrj0] {
    pointer-events: inherit
}

svg .shade.visible[b-5hdspjmrj0],
svg .shape.visible[b-5hdspjmrj0],
svg .area.visible[b-5hdspjmrj0],
svg .plant.visible[b-5hdspjmrj0] {
    display: inherit
}

svg .bbox-outline[b-5hdspjmrj0],
svg .lasso[b-5hdspjmrj0] {
    stroke: rgba(66, 166, 211, 0.75);
    stroke-dasharray: 9, 5;
    stroke-width: 3px;
    fill: none
}

svg .bbox-handle[b-5hdspjmrj0] {
    fill: rgba(66, 166, 211, 0.75)
}

#zoom-navigator[b-5hdspjmrj0] {
/*    display: none;*/
    float: left
}
#mapnav[b-5hdspjmrj0] {
    float: left;
    background: url(images/mapcontrols.png) no-repeat left top;
    height: 58px;
    width: 58px;
    position: relative
}
    #mapnav a[b-5hdspjmrj0] {
        position: absolute;
        background-repeat: no-repeat;
        height: 16px;
        width: 20px
    }

        #mapnav a:hover[b-5hdspjmrj0] {
            text-decoration: none
        }

    #mapnav #nav-up[b-5hdspjmrj0] {
        top: 4px;
        left: 20px
    }

    #mapnav #nav-down[b-5hdspjmrj0] {
        bottom: 4px;
        left: 20px
    }

    #mapnav #nav-left[b-5hdspjmrj0] {
        left: 4px;
        top: 20px
    }

    #mapnav #nav-right[b-5hdspjmrj0] {
        right: 4px;
        top: 20px
    }
