


#garden-layout-container {
    float: left;
    overflow: visible;
    width: 545px
}

@media (min-width: 992px) {
    #garden-layout-container {
        width: 735px
    }
}


#garden-plan {
    display: flex
}

.vertical-ruler {
    margin-right: -11px;
    margin-top: 21px
}

.label-no-0 {
    font-size: 11px
}

.hasSVG svg:nth-child(1) {
    padding-bottom: 5px
}

/*.hasSVG svg:nth-child(2) {
    margin-top: -5px
}
*/

svg .selectable {
    pointer-events: inherit
}

svg .shade.visible,
svg .shape.visible,
svg .area.visible,
svg .plant.visible {
    display: inherit
}

svg .bbox-outline,
svg .lasso {
    stroke: rgba(66, 166, 211, 0.75);
    stroke-dasharray: 9, 5;
    stroke-width: 3px;
    fill: none
}

svg .bbox-handle {
    fill: rgba(66, 166, 211, 0.75)
}

#zoom-navigator {
/*    display: none;*/
    float: left
}
#mapnav {
    float: left;
    background: url(images/mapcontrols.png) no-repeat left top;
    height: 58px;
    width: 58px;
    position: relative
}
    #mapnav a {
        position: absolute;
        background-repeat: no-repeat;
        height: 16px;
        width: 20px
    }

        #mapnav a:hover {
            text-decoration: none
        }

    #mapnav #nav-up {
        top: 4px;
        left: 20px
    }

    #mapnav #nav-down {
        bottom: 4px;
        left: 20px
    }

    #mapnav #nav-left {
        left: 4px;
        top: 20px
    }

    #mapnav #nav-right {
        right: 4px;
        top: 20px
    }
